{% extends "base.html" %}
{% block content %}
<div class="row page-header">
    <div class="col-lg-12">
        <div><h1>MrScruffy</h1></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form method="POST" action="{{ url_for('parse') }}">
            <label for="type">Type</label>
            <div clas="control-group">
                {{ form.type(class_='form-control') }}
            </div>
            <div class="control-group">
                <label for="source">Source</label>
                {{ form.source(rows=10, class_='form-control', placeholder="Enter Source") }}
                {% for error in form.source.errors %}
                    <span class="text-danger">{{ error }}<br /></span>
                {% endfor %}
            </div>
            <div style="margin-top:10px;">
            <button type="submit" class="btn btn-lg btn-primary">
                Generate Scruffy
            </button>
            </div>
        </form>
    </div>
    {% if svg %}
    <div class="col-lg-6">
        <div id="graph-canvas" style="width:100%; height:auto; position:absolute;">
            {{ svg | safe }}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block extrajs %}
{% if svg %}
<script type="text/javascript">
    $(function(){
        var svg = $("#graph-canvas").find('svg')[0];
        svg.setAttribute('width', '100%');
        svg.setAttribute('height', '100%');
    });
</script>
{% endif %}
{% endblock %}